#map-page-container {
    margin-top: 50px;
}

@media (max-width: 600px) {
    #map-page-container {
        margin-top: 0;
    }
}

#map {
    margin: 0;
    padding: 0;
    height: 400px;
    box-shadow: 0 0 20px 2px #000000;
    border: 1px solid #000000
}

.ol-layer {
    left: 0px;
}